body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}


#time-slider {
  width: 300px;
  margin: 1em 0;
}

label {
  font-weight: 600;
  margin-right: 0.5em;
}

label[for='time-slider'] {
  display: block;
  margin: 1em 0;
  font-weight: 600;
}

#selected-time {
  display: block;
  font-weight: 600;
}

#any-time {
  display: block;
  color: #666;
  font-style: italic;
}
