html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  width: 100%;
  height: 100%;
  position: relative;        
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}


#map svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;               
  pointer-events: none;      
}

#map svg circle {
  pointer-events: auto;      
  fill: steelblue;
  stroke: white;
  stroke-width: 1px;
  fill-opacity: 0.6;
}

